//Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

//Variables
$white: #fff;
$royalBlue: #204c73;
$cyanBlue: #04c4d9;
$greyBlue: #aab7bf;
$grey: #ececec;
$black: #000;
$close: #c54848;

//mixins
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

//breakpoints
$breakpoints: (
        'extraSmall': (max-width: 576px),
        'small': (min-width: 576px),
        'medium': (min-width: 768px),
        'large': (min-width: 992px),
        'extraLarge': (min-width: 1200px)
) !default;

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: relative;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  >div:first-child {
    display: flex;
    flex-direction: row;
  }

  &__icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: $royalBlue;

    img {
      height: 40px;
    }

    p {
      font-weight: 600;
      font-size: 0.75em;
      color: $white;
      margin-top: 5px;
      cursor: default;
    }
  }

  &__nav {
    @include respond-to('extraSmall') {
      display: none;
    }

    @include respond-to('small') {
      display: none;
    }

    @include respond-to('extraLarge') {
      display: block;
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70px;
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.15s ease-in-out;
        border-top: solid 5px transparent;

        &:hover {
          background-color: $grey;
          border-color: $royalBlue;
        }

        a {
          text-decoration: none;
          color: $black;
          font-weight: 300;
        }
      }
    }

    &-button--responsive {
      height: 30px;
      margin-right: 30px;
      cursor: pointer;
      color: $royalBlue;
      font-size: 1.8em;

      @include respond-to('small') {
        display: block;
      }

      @include respond-to('extraLarge') {
        display: none;
      }
    }
  }

  >div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    border-left: solid 1px $grey;

    @include respond-to('extraSmall') {
      display: none;
    }

    @include respond-to('small') {
      display: none;
    }

    @include respond-to('extraLarge') {
      display: flex;
    }

    a {
      text-decoration: none;
      font-weight: 300;
      color: $royalBlue;
    }
  }
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.25s ease-in-out;

  &__menu {
    nav {
      position: absolute;
      right: 0;
      height: 100%;
      background-color: $white;
      animation-name: popupMenu;
      animation-duration: 1s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond-to('extraSmall') {
        width: 75vw;
      }

      @include respond-to('small') {
        width: 60vw;
      }

      @include respond-to('large') {
        width: 25vw;
      }

      ul {
        li {
          list-style: none;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 75px;
          border-top: solid 1px $grey;
          border-bottom: solid 1px $grey;
          cursor: pointer;
          transition: all 0.25s ease-in-out;

          @include respond-to('extraSmall') {
            width: 75vw;
          }

          @include respond-to('small') {
            width: 60vw;
          }

          @include respond-to('large') {
            width: 25vw;
          }

          &:hover {
            background: $grey;
          }
        }

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }

  &__close {
    position: absolute;
    transform: translate(-50%);
    font-size: 1.8em;
    color: $royalBlue;
    top: 20px;
    transition: all 0.25s ease-in-out;
    z-index: 9999;
    cursor: pointer;

    &:hover, &:active {
      color: $close;
    }

    @include respond-to('extraSmall') {
      right: 65vw;
    }

    @include respond-to('small') {
      right: 52vw;
    }

    @include respond-to('large') {
      right: 20vw;
    }
  }
}

//keyframes
@keyframes popupMenu {
  from {
    right: -80vw;
  }

  to {
    right: 0;
  }
}
